<div class="float-lg-left col-md-6 col-lg-4 mb-4">
  <%= post.url.html_safe %>
  <div class="bg-light border border-top-0">
    <small class="text-muted">
      <ul class="list-inline py-1 px-2 mr-0 mb-0">
        <% post.tags.each do |tag| %>
        <li class="list-inline-item py-1">
          <h2 class="my-auto"><a href="/posts/<%= tag.id %>/tag_index" class="badge badge-dark text-white" style="text-decoration: none;">#<%= tag.name %></a></h2>
        </li>
        <% end %>
      </ul>
    </small>
  </div>
</div>