<div class="contents mx-5 clearfix">
  <p class="h4 mb-5 font-weight-bold lines-on-sides"><span>「<%= @fighter.name %>」の新着一覧</span></p>
  <%= render :partial => "post", :collection => @posts %>
</div>
<%= render :partial => "pagination" %>