<div class="container">
  <% @fighters.each do |fighter| %>
    <% if fighter.posts.present? %>
      <div class="contents">
        <ul class="list-inline">
          <li class="list-inline-item">
          <h2><span class="badge badge-dark">#<%= fighter.name %></span></h2>
          </li>
          <% if fighter.posts.length > 3 %>
          <li class="list-inline-item float-right mt-4">
          <h4><a href="/posts/<%= fighter.id %>/fighter_index" class="text-primary" style="text-decoration: none;">もっと見る ></a></h4>
          </li>
          <% end %>
        </ul>
        <div class="row">
          <% fighter.posts.limit(3).order('created_at DESC').each do |post| %>
            <div class="float-lg-left col-md-6 col-lg-4 mb-4">
              <%= post.url.html_safe %>
              <div class="bg-light border border-top-0">
                <small class="text-muted">
                  <ul class="list-inline py-1 px-2 mr-0 mb-0">
                    <% post.tags.each do |tag| %>
                    <li class="list-inline-item py-1">
                      <h2 class="my-auto"><span class="badge badge-dark">#<%= tag.name %></span></h2>
                    </li>
                    <% end %>
                  </ul>
                </small>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>