<div class="container">
  <div class="contents">
    <p class="h4 mb-5 font-weight-bold lines-on-sides mx-5"><span>新着一覧</span></p>
    <div class="row">
      <%= render :partial => "post", :collection => @posts %>
    </div>
  </div>
  
  <ul class="list-inline mx-auto text-center mb-0 mt-5">
    <li class="list-inline-item">
      <%= paginate @posts %>
    </li>
    <li class="list-inline-item">
      <%= render :partial => "pagination", :locals => { posts: @posts } %>
    </li>
  </ul>
</div>