/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.contents {
  margin-top: 10rem;
}

footer {
  margin-top: 10rem;
}

iframe {
  min-height: 430px;
}

.lines-on-sides{
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}

.lines-on-sides:before {
  content: "";
  display: block;
  border-top: solid 1px #ccc;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.lines-on-sides span {
  background: #fff;
  padding: 0 20px;
  position: relative;
  z-index: 5;
}

.mega-dropdown { 
  position: static;
}

.dropdown-menu.mega-dropdown-menu.show { 
  width: 100%;
  height: 176px;
  background-color: #9b9b9b;
}

.dropdown-badge {
  background-color: #9b9b9b;
}