<!DOCTYPE html>
<html lang="ja">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <title>Kix</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-dark fixed-top">
        <a class="navbar-brand text-danger font-weight-bold text-monospace ml-5" href="/" style="text-decoration: none;">KIX</a>
        <ul class="nav justify-content-end mr-5">
          <li class="nav-item my-auto mr-5">
            <a class="nav-link text-danger" href="#" style="text-decoration: none;">NEW</a>
          </li>
          
          <li class="nav-item dropdown my-auto mr-5 mega-dropdown">
            <a class="nav-link dropdown-toggle text-danger" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;" id="DDL1">CATEGORY</a>
            <div class="dropdown-menu mega-dropdown-menu" aria-labelledby="DDL1">
              <ul class="navbar-nav">
                <li class="nav-link dropdown-item"><a href="#">ドロップダウンリンク</a></li>
                <li class="nav-link dropdown-item"><a href="#">ドロップダウンリンク</a></li>
                <li class="nav-link dropdown-item"><a href="#">ドロップダウンリンク</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item dropdown my-auto mr-5">
            <a class="nav-link dropdown-toggle text-danger" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="text-decoration: none;">TAG</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
          <li class="nav-item">
            <form class="form-inline">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-danger mr-2 my-sm-0" type="submit">Search</button>
            </form>
          </li>
        </ul>
      </nav>
    </header>
  
  <%= yield %>
  
  <footer>
    <nav class="navbar navbar-light bg-dark justify-content-end fixed-bottom" style="height: 116px;">
      <ul class="list-unstyled my-auto">
        <li class="list-unstyled">
          <a class="navbar-brand text-danger font-weight-bold text-monospace" href="/" style="text-decoration: none;">KIX</a>
        </li>
        <li class="list-unstyled">
          <ol class="breadcrumb bg-dark mb-0 p-0">
            <li class="breadcrumb-item"><a class="text-danger small" href="/" style="text-decoration: none;">KIXについて</a></li>
            <li class="breadcrumb-item text"><a class="text-danger small" href="/" style="text-decoration: none;">タグ一覧</a></li>
          </ol>
        </li>
        <li class="list-unstyled">
          <p class="text-white small">Copyright © 2018 KIXIENCE All Rights Reserved.</p>
        </li>
      </ul>
    </nav>
  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
